Vagrant.configure("2") do |config|
  # CAPE runs KVM nested inside this VM; expose nested virt per provider.
  config.vm.provider :libvirt do |libvirt|
    libvirt.nested   = true
    libvirt.cpu_mode = "host-passthrough"
  end

  config.vm.provider :virtualbox do |vb|
    vb.customize ["modifyvm", :id, "--nested-hw-virt", "on"]
    vb.customize ["modifyvm", :id, "--ioapic", "on"]
  end

  config.vm.provider :vmware_desktop do |vmware|
    vmware.vhv_enabled = true
  end
end